
.input-text {
	width: 200px;
	border: 1px solid #cccccc; 
	-webkit-border-radius : 3px;
	-moz-border-radius : 3px; 
	border-radius : 3px;
	color: #555555;	
	background-color: #ffffff;	
}

.select-all {
	margin-left: 20px;
}

.filter-item {
	padding-left: 25px;
}

.filter {
	overflow: auto;
	white-space: nowrap;
	width: 200px;
	height: 220px;
	border: 1px solid #cccccc; 
	-webkit-border-radius : 3px;
	-moz-border-radius : 3px; 
	border-radius : 3px;	
	color: #555555;	
	background-color: #ffffff;
	position: absolute;
	/* float: right; */
	z-index: 100;
}

td {
	vertical-align: top;
}

li {
	list-style-type: none;'
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
