
.input-text {
	width: 200px;
	border: 1px solid #cccccc; 
	-webkit-border-radius : 3px;
	-moz-border-radius : 3px; 
	border-radius : 3px;
	color: #555555;	
	background-color: #ffffff;	
}

.select-all {
	margin-left: 20px;
	indeterminate: true;
}

.filter-item {
	padding-left: 25px;
}

.filter {
	overflow: auto;
	white-space: nowrap;
	width: 200px;
	height: 220px;
	border: 1px solid #cccccc; 
	-webkit-border-radius : 3px;
	-moz-border-radius : 3px; 
	border-radius : 3px;	
	color: #555555;	
	background-color: #ffffff;
}